.container {
  height: max-content;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  width: 46%;
  margin: 2rem auto;
}

ul {
  list-style: decimal;
}

li {
  text-align: start;
  border: 1px solid black;
  margin: 1rem auto;
  padding: 0.5rem 0.5rem;
}
